<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuiShoujiTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7CE8F45F1D957F5F006F0FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CE8F4731D957F5F006F0FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CE8F47E1D957F5F006F0FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
